extends ../layouts/default.pug

block title
  title My Recept | О проекте

block main

  include ../blocks/_about-cover.pug

  include ../blocks/_tasks.pug

  .logo-line

  include ../blocks/_experience.pug

  include ../blocks/_subscribe.pug

  include ../blocks/_learn-products.pug










