extends ../layouts/default.pug

block title
  title My Recept | Калькулятор

block main

  section.section.calc-cover
    img.calc-cover__bg-img(src="img/calc-cover__bg-img.png")
    .container
      ul.breadcrumbs
        li.breadcrumbs__item
          a.breadcrumbs__link(href="index.html") Главная страница
        li.breadcrumbs__item
          a.breadcrumbs__link Калькулятор
      h1.h1-1.calc-cover__heading
        span.calc-cover__heading-line Уникальный Торт
        span.calc-cover__heading-line  на заказ
      .row
        .col-lg-7.calc-cover__img-wrap
          img.calc-cover__img(src="img/calc-cover__img.png" alt="Img")
        .col-lg-5.calc-cover__text-wrap
          .calc-cover__text
            | Составьте из нужных параметров
            br
            | подходящий Вам торт

  section.secton.calc
    .container
      h2.h2.calc__heading Заполните параметры для заказа
      .calc__block
        .calc__block-heading Форма:
        .calc__block-text Квадратные и прямоугольные торты, как правило, получаются тяжелее круглых и рассчитываются на большие компании сладкоежек.
        .calc__forms
          label.calc__forms-item
            input.visually-hidden.calc__forms-item-input(type="radio" name="form" checked)
            span.calc__radio-window
            span.calc__forms-item-icon-wrap
              img.img-responsive.calc__forms-item-icon(src="img/calc__forms-item-icon-1.svg" alt="Img")
            span.calc__forms-item-text Круглая
          label.calc__forms-item
            input.visually-hidden.calc__forms-item-input(type="radio" name="form")
            span.calc__radio-window
            span.calc__forms-item-icon-wrap
              img.img-responsive.calc__forms-item-icon(src="img/calc__forms-item-icon-2.svg" alt="Img")
            span.calc__forms-item-text Квадратная
          label.calc__forms-item
            input.visually-hidden.calc__forms-item-input(type="radio" name="form")
            span.calc__radio-window
            span.calc__forms-item-icon-wrap
              img.img-responsive.calc__forms-item-icon(src="img/calc__forms-item-icon-3.svg" alt="Img")
            span.calc__forms-item-text Треугольная

      .calc__block
        .calc__block-heading Количество ярусов:
        .calc__block-text Большой плюс двухъярусного торта – это возможность сочетать разные начинки. Таким образом вы сможете угодить даже самым привередливым гостям :)
        .row.no-gutters.calc__block-row
          label.calc__radio
            input.visually-hidden.calc__radio-input(type="radio" name="stairs" checked)
            span.calc__radio-window
            span.calc__radio-label Одноярусный
          label.calc__radio
            input.visually-hidden.calc__radio-input(type="radio" name="stairs")
            span.calc__radio-window
            span.calc__radio-label Двухярусный

      .calc__block
        .calc__block-heading Основа и начинка:
        .calc__block-text
          |Здесь представлены самые популярные начинки тортов, которые мы делаем. С более подробным списком вы можете ознакомиться здесь.
          br
          |P.S. В жизни они, конечно же, куда красивее и аппетитнее, чем на картинке :)
        .row.no-gutters.calc__block-row
          .col-lg-4.calc__block-col
            .calc__block-subheading Основа:
            .row.no-gutters.calc__block-row
              label.calc__radio
                input.visually-hidden.calc__radio-input(type="radio" name="base" checked)
                span.calc__radio-window
                span.calc__radio-label Бисквит
              label.calc__radio
                input.visually-hidden.calc__radio-input(type="radio" name="base")
                span.calc__radio-window
                span.calc__radio-label Шоколадная
              label.calc__radio
                input.visually-hidden.calc__radio-input(type="radio" name="base")
                span.calc__radio-window
                span.calc__radio-label Медовая
              label.calc__radio
                input.visually-hidden.calc__radio-input(type="radio" name="base")
                span.calc__radio-window
                span.calc__radio-label Песочная
          .col-lg-4.calc__block-col
            .calc__block-subheading Начинка:
            .row.no-gutters.calc__block-row
              label.calc__radio
                input.visually-hidden.calc__radio-input(type="radio" name="filling" checked)
                span.calc__radio-window
                span.calc__radio-label Пралине
              label.calc__radio
                input.visually-hidden.calc__radio-input(type="radio" name="filling")
                span.calc__radio-window
                span.calc__radio-label Шоколадная
              label.calc__radio
                input.visually-hidden.calc__radio-input(type="radio" name="filling")
                span.calc__radio-window
                span.calc__radio-label Медовая
              label.calc__radio
                input.visually-hidden.calc__radio-input(type="radio" name="filling")
                span.calc__radio-window
                span.calc__radio-label Творожная
          .col-lg-4.calc__block-col
            .calc__block-subheading Начинка:
            .row.no-gutters.calc__block-row
              label.calc__checkbox
                input.visually-hidden.calc__checkbox-input(type="checkbox" name="decoration" checked)
                span.calc__checkbox-window
                span.calc__checkbox-label Ягоды
              label.calc__checkbox
                input.visually-hidden.calc__checkbox-input(type="checkbox" name="decoration")
                span.calc__checkbox-window
                span.calc__checkbox-label Свечи
              label.calc__checkbox
                input.visually-hidden.calc__checkbox-input(type="checkbox" name="decoration")
                span.calc__checkbox-window
                span.calc__checkbox-label Цифры
              label.calc__checkbox
                input.visually-hidden.calc__checkbox-input(type="checkbox" name="decoration")
                span.calc__checkbox-window
                span.calc__checkbox-label Заливка глазурью

      .calc__block
        .calc__block-heading Вес торта:
        .calc__block-text Мы делаем торты от 1.5 кг. Рекомендуем ответственно отнестись к этому вопросу, чтобы никто из гостей не остался без своего кусочка :)
        .calc__counter(data-counter="")
          .calc__counter-label Выберите вес (кг):
          button.calc__counter-btn.calc__counter-btn--minus(data-counter-minus="true")
          input.calc__counter-input(readonly="" type="number" data-counter-input="" data-counter-min="1.5" data-counter-step="0.5" value="1.5")
          button.calc__counter-btn.calc__counter-btn--plus(data-counter-plus="true")
          .calc__counter-parts
            | ~
            span.calc__counter-parts-number(data-counter-parts="") 8
            |  порций

      .calc__block
        .calc__block-heading Фото и комментарии:
        .calc__block-text Добавьте комментарии или фото которые помогут нам более точно посчитать стоимость вашего тортика:
        label.calc__block-textarea-wrap
          textarea.calc__block-textarea(placeholder="Ваш комментарий")
        label.file.calc__block-file(data-file-wrap)
          input.file__input.calc__block-file-input.visually-hidden(type="file" data-file)
          span.file__label.calc__block-file-label(data-file-label="Прикрепить фото") Прикрепить фото

      .calc__footer
        .calc__footer-heading У вас получился отличный торт!
        .calc__footer-text Мы уже просчитываем его цену. Введите свои контактные данные, чтобы мы могли сообщить вам стоимость:
        form.calc__footer-form
          +input('text', 'Ваше имя')(class="calc__footer-form-input")
          +input('email', 'Ваша почта')(class="calc__footer-form-input")
          +input('tel', 'Ваш телефон')(class="calc__footer-form-input")
          button.btn.calc__footer-form-btn(type="submit") УЗНАТЬ стоимость
          .calc__footer-form-text * Нажимая кнопку Узнать вы соглашаетесь с условиями использования сервиса, а также с передачей и обработкой данных в My recept.