extends ../layouts/default.pug

block title
  title My Recept | Доставка и оплата

block main

  section.section.delivery
    .container
      ul.breadcrumbs
        li.breadcrumbs__item
          a.breadcrumbs__link(href="index.html") Главная страница
        li.breadcrumbs__item
          a.breadcrumbs__link Доставка и оплата

      .delivery__header
        h1.h2.delivery__heading Доставка и оплата
        .delivery__header-text Обещаем хорошее настроение и незабываемое послевкусие!

      .row.delivery__row
        .col-lg-6.delivery__main
          .delivery__subheading Самовывоз
          .delivery__text Вы можете забрать десерты в нашей кофейне. Для этого напишите нам в WhatsApp или позвоните по номеру ниже. Мы моментально вам ответим и примем у вас заказ. Когда десерт будет готов, вас проинформируют.
          .row
            .col-lg-6
              .delivery__info
                img.delivery__info-icon(src="img/delivery__info-icon-1.svg" alt="")
                .delivery__info-main
                  | Махачкала, пр-т. Имама Шамиля, 75
              .delivery__info
                img.delivery__info-icon(src="img/delivery__info-icon-2.svg" alt="")
                .delivery__info-main
                  | Пн–Пт: 10:00 – 20:00
                  br
                  | Сб–Вс: 10:00 – 18:00
            .col-lg-6
              .delivery__info
                img.delivery__info-icon(src="img/delivery__info-icon-1.svg" alt="")
                .delivery__info-main
                  | Махачкала, пр-т. Имама Шамиля, 75
              .delivery__info
                img.delivery__info-icon(src="img/delivery__info-icon-2.svg" alt="")
                .delivery__info-main
                  | Пн–Пт: 10:00 – 20:00
                  br
                  | Сб–Вс: 10:00 – 18:00
        .col-lg-6.delivery__map-wrap
          .delivery__map
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5b9d7494ebe03bbe85453cb3da1e8efad3c2834d5dcc864d10246f3bcaba1221&amp;width=100%25&amp;height=100%25&amp;lang=ru_RU&amp;scroll=true"></script>

      .row.delivery__row
        .col-12
          .delivery__subheading Доставка на дом
        .col-lg-6.delivery__main
          .delivery__text
            | Не хотите никуда ехать? Предлагаем заказать любимые сладости доставкой. Позвоните или напишите нам в WhatsApp.
            br
            br
            | Укажите адрес и предпочтительное время доставки. По мере готовности мы с вами свяжемся и уточним детали.
        .col-lg-6
          .delivery__info
            img.delivery__info-icon(src="img/delivery__info-icon-2.svg" alt="")
            .delivery__info-main
              | 8:00 – 20:00 (интервалы по 4 часа)
              br
              | Стоимость #[span.fw-500 250 р.]
              | Бесплатно #[span.fw-500 от 7 500 р.]

  .logo-line

  section.section.pay
    .container
      .row
        .col-lg-5.pay__img-wrap
          img.pay__img(src="img/pay__img.jpg" alt="img")
        .col-lg-7.pay__main
          h2.h2.pay__heading Оплата
          .pay__block
            .pay__subheading
              | НАЛИЧНЫМИ
              img.pay__subheading-icon(src="img/pay__subheading-icon-1.svg" alt="")
            .pay__text Даже если вы заказали доставку на дом — можно оплатить наличными. Для этого проинформируйте оператора, который будет принимать заказ. Если у вас не под расчёт — укажите с какой суммы будет сдача.
          .pay__block
            .pay__subheading
              | Банковской картой
              img.pay__subheading-icon(src="img/pay__subheading-icon-2.svg" alt="")
            .pay__text В нашей кондитерской можно оплатить по карте, как при самовывозе, так и при курьерской доставке. При заказе мы отправим вам реквизиты для оплаты.

  section.section.request
    .container
      h2.h2.request__heading Оставить заявку

      form.request__form
        .request__form-main
          .request__form-heading Заполните все поля и приложите резюме
          .request__form-subheading Мы уже просчитываем его цену. Введите свои контактные данные, чтобы мы могли сообщить вам стоимость:
          +input('text', 'Ваше имя')(class="request__form-input")
          +input('email', 'Ваша почта')(class="request__form-input")
          +input('tel', 'Ваш телефон')(class="request__form-input")
          +input('text', 'Вакансия')(class="request__form-input")
          .request__form-file-wrap
            label.file.request__form-file(data-file-wrap)
              input.file__input.request__form-file-input.visually-hidden(type="file" data-file)
              span.file__label.request__form-file-label(data-file-label="Прикрепить порфтолио") Прикрепить статью
          button.btn.request__form-btn ОТПРАВИТЬ
          .request__form-text * Нажимая кнопку Отправить вы соглашаетесь с условиями использования сервиса, а также с передачей и обработкой данных в My recept.
        img.request__form-img(src="img/request__form-img-3.jpg" alt="Img")










