mixin input(type, placeholder)
  label.input(data-input="")&attributes(attributes)
    input.input__field(type= type, data-input-field="")
    span.input__placeholder(data-input-placeholder="")= placeholder