section.section.about
  .about__bg-text MY RECEPT
  .container.about__container
    .row.about__row
      .col-lg-7.about__text-wrap
        h2.h2.about__heading О нашей #[br]кондитерской
        .about__text
          | Наши десерты — это не просто сладости к чаю, а настоящие эмоции.
          br
          br
          | Маленький торт способен объединить семью и друзей за одним столом. Пышный бисквит, тающий крем во рту и свежие ягоды — то, что подарит вашим близким улыбки и ощущение праздника. Ароматные капкейки — повод заварить чай и поговорить по душам.
          br
          br
          | Каждый день нашу кондитерскую посещают 150 человек. На вопрос «Почему вы выбрали именно нас?», они отвечают: «Как бы у меня не прошёл день, я знаю, что ваши пирожные сделают его лучше».
      .col-lg-5.col-6.about__top-img-wrap
        img.about__top-img(src="img/about__top-img.jpg" alt="Img")
      .col-lg-6.col-6.about__advantages-wrap
        .row.about__advantages
          .col-lg-6.about__advantages-item-wrap
            .about__advantages-item
              .about__advantages-item-icon-wrap
                img.img-responsive.about__advantages-item-icon(src="img/about__advantages-icon-1.svg" alt="")
              .about__advantages-item-text Собственное #[br]производство
          .col-lg-6.about__advantages-item-wrap
            .about__advantages-item
              .about__advantages-item-icon-wrap
                img.img-responsive.about__advantages-item-icon(src="img/about__advantages-icon-2.svg" alt="")
              .about__advantages-item-text Свежие и натуральные ингредиенты
          .col-lg-6.about__advantages-item-wrap
            .about__advantages-item
              .about__advantages-item-icon-wrap
                img.img-responsive.about__advantages-item-icon(src="img/about__advantages-icon-3.svg" alt="")
              .about__advantages-item-text Более 73 000 счастливых&nbsp;клиентов
          .col-lg-6.about__advantages-item-wrap
            .about__advantages-item
              .about__advantages-item-icon-wrap
                img.img-responsive.about__advantages-item-icon(src="img/about__advantages-icon-4.svg" alt="")
              .about__advantages-item-text Сделано профессионалами с любовью
      .col-lg-5.about__bot-img-wrap
        img.about__bot-img(src="img/about__bot-img.jpg" alt="Img")
      .col-12.about__link-wrap
        +link('about.html', 'узнать подробнее')