section.section.banners
  .container.banners__container
    img.banners__strawberry.banners__strawberry--1(src="img/banners__strawberry-1.png" alt="Img")
    img.banners__strawberry.banners__strawberry--2(src="img/banners__strawberry-2.png" alt="Img")
    .swiper-container.banners__slider(data-banners-slider="")
      .swiper-wrapper
        .swiper-slide.banners__item
          .row.banners__item-row
            .col-lg-11.banners__item-heading-wrap
              .h1.banners__item-heading Уникальные десерты на&nbsp;заказ
            .col-xl-3.col-lg-4.col-md-5.col-sm-6.col-10.banners__item-main
              .banners__item-text Обещаем хорошее настроение и&nbsp;незабываемое послевкусие!
              +link('#', 'перейти в каталог')(class="banners__item-link")
          img.img-responsive.banners__item-img(src="img/banners__item-img-1.png")
        .swiper-slide.banners__item
          .row.banners__item-row
            .col-lg-11.banners__item-heading-wrap
              .h1.banners__item-heading Уникальные десерты на&nbsp;заказ
            .col-xl-3.col-lg-4.col-md-5.col-sm-6.col-10.banners__item-main
              .banners__item-text Обещаем хорошее настроение и&nbsp;незабываемое послевкусие!
              +link('#', 'перейти в каталог')(class="banners__item-link")
          img.img-responsive.banners__item-img(src="img/banners__item-img-1.png")
      .banners__slider-controls
        +arrow('button', 'up')(class="arrow--lg banners__slider-arrow" data-banners-slider-prev="")
        +arrow('button', 'down')(class="arrow--lg banners__slider-arrow" data-banners-slider-next="")
        .banners__slider-counter(data-banners-slider-counter="")
    .row.banners__info-row
      .col-xl-2.col-lg-3
        .banners__info
          a.banners__info-tel(href="tel:+79286666950") +7 (928) 666-69-50
          .banners__info-address Махачкала, #[br]пр-т. Имама Шамиля, 75
    .banners__socials
      ul.banners__socials-list
        li.banners__socials-list-item
          a.banners__socials-link(href="#") INSTAGRAM
        li.banners__socials-list-item
          a.banners__socials-link(href="#") FACEBOOK
        li.banners__socials-list-item
          a.banners__socials-link(href="#") VK
    .banners__btns
      button.banners__btn(data-popup-btn="call")
        svg(width="21" height="22" viewBox="0 0 21 22")
          path(fill-rule="evenodd" clip-rule="evenodd" d="M7.91767 1.00001C7.91766 0.585796 8.25345 0.250005 8.66766 0.25C10.3264 0.249978 11.35 0.750581 11.9155 1.51437C12.1968 1.89439 12.3277 2.29384 12.3879 2.62667C13.1737 2.82045 13.8344 3.33283 14.2164 4.02125C16.1646 4.35152 17.7847 5.43285 18.9293 6.63058C19.5457 7.2756 20.0392 7.9694 20.3823 8.62833C20.7172 9.27167 20.9407 9.94329 20.9407 10.5326V21C20.9407 21.4142 20.6049 21.75 20.1907 21.75H1C0.585786 21.75 0.25 21.4142 0.25 21V10.5326C0.25 10.2375 0.423091 9.96978 0.692233 9.84867L1.50039 9.48431C2.01116 9.25378 2.73503 8.92666 3.58733 8.54036C5.11016 7.85016 7.04231 6.97134 8.90122 6.11712C8.83829 5.8835 8.80471 5.63816 8.80471 5.3854C8.80471 4.09354 9.67245 3.01685 10.8495 2.6642C10.8164 2.57688 10.7713 2.48981 10.7099 2.40686C10.5184 2.14824 10.0283 1.74998 8.66768 1.75C8.25347 1.75001 7.91767 1.41422 7.91767 1.00001ZM9.66862 7.41526C7.87276 8.24095 5.99785 9.0943 4.48001 9.78261H19.2632C19.2077 9.64086 19.1379 9.48645 19.0518 9.32103C18.7784 8.79604 18.3701 8.21661 17.8448 7.66689C16.9884 6.77066 15.8605 5.99296 14.5586 5.6325C14.4314 7.09786 13.1827 8.22888 11.687 8.22888C10.903 8.22888 10.1895 7.91933 9.66862 7.41526ZM19.4407 11.2826H1.75V14.759C1.97844 14.6965 2.23699 14.6294 2.5149 14.5638C3.48938 14.3336 4.78369 14.0999 5.85434 14.1811C6.98132 14.2664 7.79882 14.7332 8.46599 15.1142C8.49941 15.1333 8.53245 15.1521 8.56514 15.1707C9.26136 15.5668 9.81458 15.8537 10.5953 15.8537C11.3761 15.8537 11.9293 15.5668 12.6256 15.1707C12.6582 15.1521 12.6913 15.1333 12.7247 15.1142C13.3919 14.7332 14.2094 14.2664 15.3364 14.1811C16.407 14.0999 17.7013 14.3336 18.6758 14.5638C18.9537 14.6294 19.2123 14.6965 19.4407 14.759V11.2826ZM19.4407 16.3183C19.1539 16.2338 18.7673 16.1267 18.3309 16.0236C17.3809 15.7992 16.2764 15.6141 15.4497 15.6768C14.6647 15.7362 14.1081 16.0529 13.4055 16.4528L13.3672 16.4745C12.6574 16.8783 11.8031 17.3537 10.5953 17.3537C9.3876 17.3537 8.53329 16.8783 7.82346 16.4745L7.78519 16.4528C7.08255 16.0529 6.526 15.7362 5.74101 15.6768C4.91431 15.6141 3.80978 15.7992 2.85976 16.0236C2.42334 16.1267 2.03681 16.2338 1.75 16.3183V20.25H19.4407V16.3183ZM11.687 4.04192C10.9105 4.04192 10.3047 4.65635 10.3047 5.3854C10.3047 5.64472 10.3796 5.88549 10.5102 6.09068C10.7528 6.47173 11.1867 6.72888 11.687 6.72888C12.4635 6.72888 13.0693 6.11445 13.0693 5.3854C13.0693 5.23329 13.0436 5.08849 12.9967 4.95389C12.8138 4.42951 12.3012 4.04192 11.687 4.04192Z" fill="white")
        .banners__btn-text Заказать десерт
      button.banners__btn(data-popup-btn="call")
        svg(width="22" height="24" viewBox="0 0 22 24")
          path(d="M15.8088 14.1095C15.7032 13.8197 15.5606 13.515 15.3785 13.1903C14.2593 11.1962 11.7339 9.51172 9.73887 8.8883L5.35521 1.07768C4.78466 0.061078 3.50017 -0.299992 2.48348 0.270652C1.46683 0.841202 1.10571 2.12569 1.6764 3.14243L6.05996 10.953C5.82986 11.8782 5.73494 13.0041 5.79067 14.1096H0.703109C0.314792 14.1096 0 14.4244 0 14.8127C0 15.201 0.314793 15.5158 0.70311 15.5158C1.0908 15.5158 1.40622 15.8312 1.40622 16.2189V20.4845C1.40622 22.4229 2.9833 24 4.92177 24H16.1715C18.11 24 19.6871 22.4229 19.6871 20.4845V16.2189C19.6871 15.8312 20.0025 15.5158 20.3902 15.5158C20.7785 15.5158 21.0933 15.201 21.0933 14.8127C21.0933 14.4244 20.7785 14.1096 20.3902 14.1096L15.8088 14.1095ZM14.1522 13.8786C14.1965 13.9576 14.2367 14.0341 14.2749 14.1095H12.6486C12.0864 12.9993 11.3039 11.7257 10.4937 10.7054C11.9197 11.4075 13.4232 12.5798 14.1522 13.8786ZM9.45641 14.1095C8.71369 12.6855 8.31601 11.5384 8.16278 10.7899L8.50458 10.5981C9.43934 11.4681 10.4274 12.9778 11.0562 14.1096L9.45641 14.1095ZM3.17168 1.49692C3.50997 1.30708 3.93845 1.42652 4.12894 1.76593L8.2584 9.12365L7.03208 9.8119L2.90267 2.45418C2.7125 2.11533 2.83278 1.68714 3.17168 1.49692ZM7.21991 12.5469C7.4015 13.0414 7.62499 13.5674 7.88472 14.1095H7.19844C7.1675 13.5822 7.17528 13.0509 7.21991 12.5469ZM18.2809 16.2184V20.4844C18.2809 21.6475 17.3346 22.5937 16.1715 22.5937H4.92177C3.75868 22.5937 2.81244 21.6475 2.81244 20.4844V16.2189C2.81244 15.9724 2.76955 15.7354 2.6915 15.5153H18.4018C18.3237 15.7354 18.2809 15.9719 18.2809 16.2184Z" fill="white")
          path(d="M8.43713 16.9214H12.6558V18.3276H8.43713V16.9214Z" fill="white")
        .banners__btn-text Запись на обучение
      button.banners__btns-close(data-banners-btns-close="true")