section.section.products.card-products
  .card-products__bg-text рекомендуем
  .container
    h2.h2.card-products__heading рекомендуем попробовать

    .row.products__main.card-products__main(data-products-slider-wrap="")
      .col-lg-1.products__slider-controls
        +arrow('button', 'right')(class="products__slider-arrow products__slider-arrow--next" data-products-slider-next="")
        +arrow('button', 'left')(class="products__slider-arrow products__slider-arrow--prev" data-products-slider-prev="")
        .products__slider-scrollbar-wrapper
          .swiper-scrollbar-wrap.products__slider-scrollbar-wrap
            .swiper-scrollbar.products__slider-scrollbar(data-products-slider-scrollbar="")
      .col-10
        .swiper-container.products__slider.card-products__slider(data-products-slider="")
          .swiper-wrapper
            - for (let i = 0; i < 2; i++)
              .swiper-slide.products__item-wrap
                .catalog__item
                  a.catalog__item-link(href="#")
                    .catalog__item-img-wrap
                      img.catalog__item-img(src="img/catalog__item-img-1.jpg" alt="Img")
                      .catalog__item-img-info-icons
                        .catalog__item-img-info-icon.catalog__item-img-info-icon--leaves
                        .catalog__item-img-info-icon.catalog__item-img-info-icon--choco
                    .catalog__item-main
                      .catalog__item-heading Торт «Мокко»
                      .catalog__item-desc Бисквит "Джоконда" на миндальной муке, шоколадное креме с бобами тонка
                      .catalog__item-weight 1270 гр
                  .catalog__item-footer
                    .catalog__item-controls(data-catalog-item-controls)
                      button.catalog__item-btn.catalog__item-btn--minus(data-catalog-item-dec="true" type="button")
                      .catalog__item-input-wrap
                        input.catalog__item-input(type="number" value="1" readonly data-catalog-item-input)
                      button.catalog__item-btn.catalog__item-btn--plus(data-catalog-item-inc="true" type="button")
                      .catalog__item-cart(data-catalog-item-cart="") в корзине
                    .catalog__item-price
                      .catalog__item-price-active 1 700
              .swiper-slide.products__item-wrap
                .catalog__item
                  a.catalog__item-link(href="#")
                    .catalog__item-img-wrap
                      img.catalog__item-img(src="img/catalog__item-img-2.jpg" alt="Img")
                      .catalog__item-img-info-icons
                        .catalog__item-img-info-icon.catalog__item-img-info-icon--berry
                    .catalog__item-main
                      .catalog__item-heading Фисташка-Малина
                      .catalog__item-desc Фисташковый бисквит, крем чиз с фисташкой, малиновое конфи
                      .catalog__item-weight 840 гр
                  .catalog__item-footer
                    .catalog__item-controls.hidden(data-catalog-item-controls)
                      button.catalog__item-btn.catalog__item-btn--minus(data-catalog-item-dec="true" type="button")
                      .catalog__item-input-wrap
                        input.catalog__item-input(type="number" value="0" readonly data-catalog-item-input)
                      button.catalog__item-btn.catalog__item-btn--plus(data-catalog-item-inc="true" type="button")
                      button.catalog__item-cart(type="button" data-catalog-item-cart="true") в корзину
                    .catalog__item-price
                      .catalog__item-price-active 2 300
              .swiper-slide.products__item-wrap
                .catalog__item
                  a.catalog__item-link(href="#")
                    .catalog__item-img-wrap
                      img.catalog__item-img(src="img/catalog__item-img-3.jpg" alt="Img")
                      .catalog__item-img-action
                    .catalog__item-main
                      .catalog__item-heading Графские развалины
                      .catalog__item-desc Безе, шоколадный бисквит, крем чиз, шоколад, ягоды, грецкий орех
                      .catalog__item-weight 950 - 1350 гр
                  .catalog__item-footer
                    .catalog__item-controls.hidden(data-catalog-item-controls)
                      button.catalog__item-btn.catalog__item-btn--minus(data-catalog-item-dec="true" type="button")
                      .catalog__item-input-wrap
                        input.catalog__item-input(type="number" value="0" readonly data-catalog-item-input)
                      button.catalog__item-btn.catalog__item-btn--plus(data-catalog-item-inc="true" type="button")
                      button.catalog__item-cart(type="button" data-catalog-item-cart="true") в корзину
                    .catalog__item-price
                      .catalog__item-price-active 1 100
                      .catalog__item-price-old 1 500