.row.catalog__categories-items
  .col-md-6.col-sm-6.catalog__category-wrap
    a.catalog__category(href="#")
      .catalog__category-img-wrap.catalog__category-img-wrap--lg
        img.catalog__category-img(src="img/catalog__categories-item-img-1.jpg" alt="Img")
      .catalog__category-main
        .catalog__category-heading Торты
        +arrow('div')(class="catalog__category-arrow")
  .col-md-6.col-sm-6.catalog__category-wrap
    a.catalog__category(href="#")
      .catalog__category-img-wrap.catalog__category-img-wrap--lg
        img.catalog__category-img(src="img/catalog__categories-item-img-2.jpg" alt="Img")
      .catalog__category-main
        .catalog__category-heading десерты
        +arrow('div')(class="catalog__category-arrow")
  .col-md-4.col-sm-6.catalog__category-wrap
    a.catalog__category(href="#")
      .catalog__category-img-wrap
        img.catalog__category-img(src="img/catalog__categories-item-img-3.jpg" alt="Img")
      .catalog__category-main
        .catalog__category-heading макаронс
        +arrow('div')(class="catalog__category-arrow")
  .col-md-4.col-sm-6.catalog__category-wrap
    a.catalog__category(href="#")
      .catalog__category-img-wrap
        img.catalog__category-img(src="img/catalog__categories-item-img-4.jpg" alt="Img")
      .catalog__category-main
        .catalog__category-heading наборы
        +arrow('div')(class="catalog__category-arrow")
  .col-md-4.col-sm-6.catalog__category-wrap
    a.catalog__category(href="#")
      .catalog__category-img-wrap
        img.catalog__category-img(src="img/catalog__categories-item-img-5.jpg" alt="Img")
      .catalog__category-main
        .catalog__category-heading на заказ
        +arrow('div')(class="catalog__category-arrow")