section.section.cooperation
  .cooperation__bg-text my recept
  .container
    .row
      .col-lg-7.cooperation__main
        h2.h2.cooperation__heading сотрудничество с нами
        .cooperation__text
          | Пройдите квиз, мы перезвоним вам
          br
          | и договоримся о сотрудничестве.
        +link('#', 'перейти')
      .col-lg-5.cooperation__img-wrap
        img.cooperation__img(src="img/cooperation__img.jpg" alt="Img")
  img.cooperation__blueberry(src="img/cooperation__blueberry.png" alt="")