section.section.diary-cover
  .container
    ul.breadcrumbs
      li.breadcrumbs__item
        a.breadcrumbs__link(href="index.html") Главная страница
      li.breadcrumbs__item
        a.breadcrumbs__link Кулинарный дневник
    .row
      .col-lg-7.diary-cover__main
        .diary-cover__header
          h1.h2.diary-cover__heading Кулинарный #[br] дневник
          .diary-cover__header-text Обещаем хорошее настроение и незабываемое послевкусие!
        .diary-cover__text
          | Добро пожаловать в мой кулинарный дневник!
          br
          | Если вы давно хотели научиться печь, но в интернете не было подходящих рецептов — следите за обновлениями на сайте. Здесь я буду делиться своими авторскими рецептами и лайфхаками по приготовлению десертов.
      .col-lg-5.diary-cover__img-wrap
        img.diary-cover__img.diary-cover__img--1(src="img/diary-cover__img-1.jpg" alt="Img")
      .col-lg-4.diary-cover__img-wrap
        img.diary-cover__img.diary-cover__img--2(src="img/diary-cover__img-2.jpg" alt="Img")
      .col-lg-8.diary-cover__footer
        .diary-cover__text Бисквит не поднялся, крем слишком жидкий, кроме шоколадной посыпки больше ничего не приходит в голову — такого больше не будет. Мы вместе научимся печь ароматные десерты, как в вашей любимой кондитерской.