footer.footer
  .container
    .row.footer__row
      .col-lg-2.footer__logo-wrap
        a.footer__logo(href="index.html")
          img.img-responsive.footer__logo-img(src="img/logo.svg" alt="MY RECEPT")
      .col-xl-8.col-lg-7.footer__nav
        ul.footer__nav-list
          li.footer__nav-list-item
            a.footer__nav-link(href="#") доставка и оплата
          li.footer__nav-list-item
            a.footer__nav-link(href="#") индивидуальный заказ
        ul.footer__nav-list
          li.footer__nav-list-item
            a.footer__nav-link(href="#") обучение
          li.footer__nav-list-item
            a.footer__nav-link(href="#") конструктор тортов
        ul.footer__nav-list
          li.footer__nav-list-item
            a.footer__nav-link(href="#") информация
      .col-xl-2.col-lg-3.footer__info
        a.footer__info-tel(href="tel:+79286666950") +7 (928) 666-69-50
        .footer__info-address Махачкала, #[br]пр-т. Имама Шамиля, 75
    .row.footer__row
      .col-lg-3.footer__policy-wrap
        a.footer__policy(href="#") Политика конфиденциальности
      .col-lg-3.footer__copyright-wrap
        .footer__copyright(href="#") ©My_recept 2021
      .col-lg-3.footer__socials-list-wrap
        .footer__socials-list-label Мы в сети:
        ul.footer__socials-list
          li.footer__socials-list-item
            a.footer__socials-link(href="#" style="background-image: url(img/icon-inst.svg")
          li.footer__socials-list-item
            a.footer__socials-link(href="#" style="background-image: url(img/icon-fb.svg")
          li.footer__socials-list-item
            a.footer__socials-link(href="#" style="background-image: url(img/icon-vk.svg")