section.section.interest
  .interest__bg-text ИНТЕРЕСНО
  .container
    .row
      .col-lg-6.interest__main
        h2.h2.interest__heading интересно будет знать
        .interest__text
          | Местные жители снимают экскурсии по своим местам силы и притяжения, авторы лучшего контента делают мини репортаж о родных местах с поддержкой проф команды на крутейшую камеру huawei.Благодаря мощному сенсору 1/1,7 дюйма, которым оснащена камера 40 МП, от вас не ускользнет ни одна деталь. Используйте возможности сенсора.
          br
          br
          | В сочетании с широкоугольным объективом и телеобъективом с 5-кратным оптическим зумом, чтобы делать качественные снимки, где бы вы ни находились. оснащена камера 40 МП, от вас не ускользнет ни одна деталь. Используйте возможности сенсора в сочетании с широкоугольным объективом  и с 5-кратным оптическим зумом, чтобы делать качественные снимки, где бы вы ни находились.
      .col-lg-6.interest__top-img-wrap
        img.interest__top-img(src="img/interest__top-img.jpg" alt="Img")
      .col-lg-6.interest__bot-img-wrap
        img.interest__bot-img(src="img/interest__bot-img-1.jpg" alt="Img")
        img.interest__bot-img(src="img/interest__bot-img-2.jpg" alt="Img")
      .col-lg-6.interest__main
        .interest__text
          | Местные жители снимают экскурсии по своим местам силы и притяжения, авторы лучшего контента делают мини репортаж о родных местах с поддержкой проф команды на крутейшую камеру huawei.Благодаря мощному сенсору 1/1,7 дюйма, которым оснащена камера 40 МП, от вас не ускользнет ни одна деталь. Используйте возможности сенсора.
          br
          br
          | В сочетании с широкоугольным объективом и телеобъективом с 5-кратным оптическим зумом, чтобы делать качественные снимки, где бы вы ни находились. оснащена камера 40 МП, от вас не ускользнет ни одна деталь. Используйте возможности сенсора в сочетании с широкоугольным объективом  и с 5-кратным оптическим зумом, чтобы делать качественные снимки, где бы вы ни находились.