section.section.job
  .container
    .row
      .col-lg-8.job__main
        h2.h2.job__heading
          | Хочешь
          br
          | работать у нас?
        .job__text Если у тебя есть желание делать людей счастливыми, экспериментировать с вкусовыми сочетаниями и делать больше, чем просто торты — ждём тебя! Мы обучаем наших работников и отправляем их на курсы, делимся своим опытом и других лучших кондитеров.
        .job__subheading Доступные вакансии:
        .job__vacancies
          button.btn.job__vacancies-btn повар-кондитер
          button.btn.job__vacancies-btn продавец
      .col-lg-4.job__img-wrap
        img.job__img(src="img/job__img.jpg" alt="Img")