section.section.learn
  .learn__bg-text ОБУЧЕНИЕ
  .container.learn__container
    .row
      .col-lg-4.learn__top-img-wrap
        img.learn__top-img(src="img/learn__top-img.jpg" alt="Img")
      .col-xl-6.offset-xl-1.col-lg-7.learn__main
        h3.h3.learn__heading
          | Научитесь готовить
          br
          | более 35 десертов-шедевров
          br
          | у себя на кухне, даже если
          br
          | никогда не дружили с духовкой
        img.learn__bot-img(src="img/learn__bot-img.jpg" alt="Img")
        .learn__text
          | Как часто, захотев удивить и побаловать своих близких вкусняшками, вы в итоге думали, что «десерты это все-таки не мое»?
          br
          br
          | Развенчаю ваши убеждения и страхи:)
          br
          br
          | За много лет работы я вместе с моими ученицами приготовила тысячи десертов.
          br
          br
          | Теперь я с уверенностью говорю вам, что научить готовить на профессиональном уровне можно любого, даже того, кто не умеет включать духовку и абсолютно не разбирается в десертах. Главное — чтобы было желание научиться.
        a.btn.learn__btn(href="#") ХОЧУ НАУЧИТЬСЯ