section.section.shop-cover
  .container.shop-cover__container
    ul.breadcrumbs
      li.breadcrumbs__item
        a.breadcrumbs__link(href="index.html") Главная страница
      li.breadcrumbs__item
        a.breadcrumbs__link Магазин
    .row.shop-cover__row
      .col-lg-6.shop-cover__main
        .shop-cover__header
          h1.h2.shop-cover__heading Магазин
          .shop-cover__header-text Обещаем хорошее настроение и незабываемое послевкусие!
        .shop-cover__text
          | Вы представили себе десерт мечты, а мы уже его воплотили. В нашем магазине представлены: сладкие сэндвичи, кексы, макаронсы, торты, пирожные.
          br
          br
          | Сидите на диете? Для вас мы приготовили ПП конфеты. Нужен подарок? Вы найдёте более 15 подарочных наборов.
          br
          br
          | Решили порадовать семью домашним десертом — в нашем магазине есть оборудование для приготовления кондитерских изделий. Мы лично его используем для приготовления сладостей.
      .col-lg-6.shop-cover__img-wrap
        img.shop-cover__img(src="img/shop-cover__img.png" alt="Img")