section.section.tasks
  .container
    .tasks__header
      | #[span.fw-500 С 2019 года] мы дарим людям счастливые моменты: нежный торт с вашим любимым кремом на семейном застолье, пирожные на любой вкус на завтрак или во время перекуса. Наш проект для тех людей, которые любят получать эмоции и удовольствие от сладкого.
      br
      br
      | Чем отличается магазинный торт от нашего? #[span.fw-500 My recept делает десерты на любой вкус.] У вас есть сладкая фантазия — мы знаем, как ее воплотить. При этом мы используем только натуральные ингредиенты: никакого маргарина, только нежное и свежее масло.
      br
      br
      | В нашей кондитерской вы найдете сладость по душе. За 2 года работы мы #[span.fw-500 сделали счастливыми более 73 000 человек.] Подари себе минутки радости и ты!
    h2.h2.tasks__heading задачи бренда
    .tasks__main
      .row.tasks__row
        .col-lg-1.col-2.tasks__icon-wrap
          img.img-responsive.tasks__icon(src="img/tasks__icon-1.svg" alt="")
        .col-xl-7.col-lg-7.col-10.tasks__item
          .h4.tasks__item-heading Вкус
          .tasks__item-text Возьмите кусочек пирожного в рот и вы почувствуете свежие сливки в креме, пряности, нотки ванили. Вкус наших десертов — ваши любимые натуральные сладости. Никакого химического послевкусия!
      .row.tasks__row
        .col-lg-1.col-2.tasks__icon-wrap
          img.img-responsive.tasks__icon(src="img/tasks__icon-2.svg" alt="")
        .col-xl-6.col-lg-7.col-10.tasks__item
          .h4.tasks__item-heading Красота
          .tasks__item-text Десерты — праздник, даже если вы просто берёте пирожное на завтра. Поэтому все наши сладости украшаются сочными ягодами и другим съедобным декором. My recept сделает любой ваш день праздничным и красивым.
      .row.tasks__row
        .col-lg-1.col-2.tasks__icon-wrap
          img.img-responsive.tasks__icon(src="img/tasks__icon-3.svg" alt="")
        .col-xl-7.col-lg-7.col-10.tasks__item
          .h4.tasks__item-heading Полезность
          .tasks__item-text Сладкое есть НЕ вредно. Мы не используем синтетических красителей. Начинки делаем из фруктов и ягод, кремы — нежнейших сливок, фермерского масла и творожного сыра. Торты можно давать детям, потому что они не содержат вредным химикатов.


