section.section.team
  .team__bg-text КОМАНДА
  .container
    h2.h2.team__heading Наша #[br]команда
    .row.no-gutters.team__row
      .col-12.team__main
        .team__item.team__item--main
          .team__item-img-wrap
            img.team__item-img(src="img/team__item-img-1.jpg" alt="Img")
          .team__item-texts
            .team__item-main
              .team__item-name Имя Фамилия
              .team__item-post должность
            .team__item-message Моментально приду на помощь если не взбиваются белки или не поднимается бисквит
      .team__item-wrap
        .team__item
          .team__item-img-wrap
            img.team__item-img(src="img/team__item-img-2.jpg" alt="Img")
          .team__item-texts
            .team__item-main
              .team__item-name Имя Фамилия
              .team__item-post должность
            .team__item-message Моментально приду на помощь если не взбиваются белки или не поднимается бисквит
      .team__item-wrap
        .team__item
          .team__item-img-wrap
            img.team__item-img(src="img/team__item-img-3.jpg" alt="Img")
          .team__item-texts
            .team__item-main
              .team__item-name Имя Фамилия
              .team__item-post должность
            .team__item-message Моментально приду на помощь если не взбиваются белки или не поднимается бисквит
      .team__item-wrap
        .team__item
          .team__item-img-wrap
            img.team__item-img(src="img/team__item-img-4.jpg" alt="Img")
          .team__item-texts
            .team__item-main
              .team__item-name Имя Фамилия
              .team__item-post должность
            .team__item-message Моментально приду на помощь если не взбиваются белки или не поднимается бисквит
      .team__item-wrap
        .team__item
          .team__item-img-wrap
            img.team__item-img(src="img/team__item-img-5.jpg" alt="Img")
          .team__item-texts
            .team__item-main
              .team__item-name Имя Фамилия
              .team__item-post должность
            .team__item-message Моментально приду на помощь если не взбиваются белки или не поднимается бисквит