section.section.team-cover
  .container
    ul.breadcrumbs
      li.breadcrumbs__item
        a.breadcrumbs__link(href="index.html") Главная страница
      li.breadcrumbs__item
        a.breadcrumbs__link Команда
    .row
      .col-lg-7.team-cover__main
        .team-cover__header
          h1.h2.team-cover__heading Команда
          .team-cover__header-text Обещаем хорошее настроение и незабываемое послевкусие!

        .team-cover__items
          .team-cover__item
            .team-cover__item-icon-wrap
              img.team-cover__item-icon.img-responsive(src="img/team-cover__item-icon-1.svg" alt="Img")
            .team-cover__item-main
              .h4.team-cover__item-heading Цель команды
              .team-cover__item-text Наша цель — показать, что настоящие десерты дарят людям эмоции. Мы хотим сделать счастливым каждого клиента. Открыть для вас мир искусства сочетания вкусов.
          .team-cover__item
            .team-cover__item-icon-wrap
              img.team-cover__item-icon.img-responsive(src="img/team-cover__item-icon-2.svg" alt="Img")
            .team-cover__item-main
              .h4.team-cover__item-heading Миссия команды
              .team-cover__item-text
                | Команда my recept работает над созданием десертов, которые меняют представление о сладком:
                br
                br
                | – выпечка может быть полезной и из натуральных продуктов
                br
                | – кондитерские изделия — не только вкус, но и эмоции
      .col-lg-5.team-cover__img-wrap
        img.team-cover__img(src="img/team-cover__img.png" alt="Img")