::placeholder {
  color: $text-color;
}

::selection {
  background-color: $accent-color;
  color: #fff;
}

html {
  font-size: 16px;
}

body {
  font-family: $main-font;
  font-size: 1rem;
  min-width: 320px;
  position: relative;
  line-height: 1.4;
  overflow-x: hidden;
  color: $text-color;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

label {
  display: block;
}

input,
textarea {
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: 0 0;
  resize: none;
  color: $text-color;

  &:focus {
    outline: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: 0 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

a {
  color: inherit;
  text-decoration: none;

  @include transitions;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
    outline: none;
  }

  &[href] {
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  box-shadow: none;
}

.text-center {
  text-align: center;
}

.img-responsive {
  display: block;
  max-width: 100%;
  &.img-width {
    width: 100%;
  }
}

.main,
.section,
.container,
.row {
  position: relative;
}

.main,
.overflow-hidden {
  overflow: hidden;
}

.main {
  z-index: 2;
}

.swiper {
  &-wrapper {
    box-sizing: border-box;
  }

  &-button {
    &-disabled {
      opacity: 0.5;
    }
  }

  &-scrollbar {
    position: relative;
    height: 1px;
    background: rgba($accent-color, 0.3);

    &-drag {
      position: relative;
      top: -1px;
      height: 3px;
      background: $accent-color;
    }
  }
}

.noUi {

  &-target {
    border: none;
    box-shadow: none;
  }

  &-horizontal {
    height: 1px;
    background: #c4c4c4;
    .noUi-handle {
      right: -9px;
      top: -9px;
      width: 18px;
      height: 18px;
    }
  }

  &-connect {
    background: $accent-color;
  }

  &-connects {
    border-radius: 0;
  }

  &-handle {
    border: none;
    border-radius: 50%;
    background: $accent-color;
    box-shadow: none;
    cursor: pointer;

    &::before,
    &::after {
      display: none;
    }
  }
}

.logo-line {
  height: 65px;
  background: url(../img/logo-line.jpg) repeat-x left center / auto 65px;
}

.file {
  display: inline-block;
  min-height: 16px;
  padding-left: 26px;
  color: $accent-color;
  background: url(../img/clip.svg) no-repeat left center;
  cursor: pointer;

  &__label {
    display: block;
    position: relative;
    top: 2px;
  }
}

.datepicker {

  .datepicker-controls .prev-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: url(../../img/date-prev.svg) no-repeat center / 4px 7px #D9C4AF;
    font-size: 0;

    &:hover,
    &:focus {
      background: url(../../img/date-prev.svg) no-repeat center / 4px 7px #D9C4AF;
    }
  }

  .datepicker-controls .next-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: url(../../img/date-next.svg) no-repeat center / 4px 7px #D9C4AF;
    font-size: 0;

    &:hover,
    &:focus {
      background: url(../../img/date-next.svg) no-repeat center / 4px 7px #D9C4AF;
    }
  }

  .datepicker-controls .view-switch {
    pointer-events: none;
    background: 0 0;
    font-size: 12px;
    font-weight: 500;
  }

  .datepicker-picker {
    padding: 13px 17px;
    background: #FBF5EF;
    border-radius: 9px;
  }

  .datepicker-dropdown .datepicker-picker {
    box-shadow: none;
    background: #FBF5EF;
    border-radius: 9px;
  }

  .datepicker-header {
    margin-bottom: 16px;
  }

  .datepicker-cell {
    border-radius: 50%;
    height: 25px;
    line-height: 25px;
    font-size: 10px;
  }
  .datepicker-grid {
    width: 175px;
  }

  .datepicker-view .dow {
    height: 25px;
    line-height: 25px;
    font-size: 10px;
    font-weight: 400;
  }

  .datepicker-cell.selected, .datepicker-cell.selected:hover {
    font-weight: 400;
    border: 1px solid #D9C4AF;
    color: $accent-color;
    background: 0 0;
  }

}

.datepicker-input.in-edit:active, .datepicker-input.in-edit:focus {
  box-shadow: none;
}

.datepicker-input.in-edit {
  border-color: rgba($text-color, 0.5);
}