::placeholder {
  color: $text-color;
}

::selection {
  background-color: $accent-color;
  color: #fff;
}

html {
  font-size: 16px;
}

body {
  font-family: $main-font;
  font-size: 1rem;
  min-width: 320px;
  position: relative;
  line-height: 1.4;
  overflow-x: hidden;
  color: $text-color;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

label {
  display: block;
}

input,
textarea {
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: 0 0;
  resize: none;

  &:focus {
    outline: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: 0 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

a {
  color: inherit;
  text-decoration: none;

  @include transitions;

  &:hover,
  &:focus {
    color: $accent-color;
    text-decoration: none;
    outline: none;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  box-shadow: none;
}

.text-center {
  text-align: center;
}

.img-responsive {
  display: block;
  max-width: 100%;
  &.img-width {
    width: 100%;
  }
}

.main,
.section,
.container,
.row {
  position: relative;
}

.main,
.overflow-hidden {
  overflow: hidden;
}

.swiper {
  &-wrapper {
    box-sizing: border-box;
  }

  &-button {
    &-disabled {
      opacity: 0.5;
    }
  }

  &-scrollbar {
    position: relative;
    height: 1px;
    background: rgba($accent-color, 0.3);

    &-drag {
      position: relative;
      top: -1px;
      height: 3px;
      background: $accent-color;
    }
  }
}

.logo-line {
  height: 65px;
  background: url(../img/logo-line.jpg) repeat-x left center / auto 65px;
}