.articles {
  padding-top: 120px;
  padding-bottom: 130px;
  background: $white-color;

  & + .free-lesson {
    padding-top: 25px;
  }

  &--diary {
    padding-top: 166px;
    background: #fff;

    .articles__heading {
      text-transform: none;

      &-wrap {
        margin-bottom: 65px;
      }
    }
  }

  &--bg-fff {
    background: #fff;

    & + .free-lesson {
      background: #fff;
    }
  }

  &__bg-text {
    position: absolute;
    top: 20px;
    left: 110px;
    color: #fef0f3;
    font-size: 9.375rem;
    @extend .ff-accent;
    @extend .fw-300;
    @extend .ls-3;
  }

  &__row {
    align-items: flex-end;
    margin-bottom: -30px;
  }

  &__heading {
    margin-bottom: 0;
    &-wrap {
      margin-bottom: 88px;
    }
  }

  &__filter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      padding: 14px 22px;
      margin-right: 20px;
      margin-bottom: 15px;
      border: 1px solid #DED4CA;
      border-radius: 37.5px;

      @extend .fz-12;
      @extend .fw-500;
      @extend .ttu;
      @extend .ls-7;

      &.active {
        border-color: #F3EAE0;
        background: #F3EAE0;
      }

      &-text {
        position: relative;
        bottom: -2px;
      }

      &-icon {
        flex: 0 0 20px;
        max-width: 20px;
        margin-right: 15px;
      }
    }
  }

  &__more-btn {
    margin: 42px auto 0;
  }

  &__link {
    margin-bottom: 15px;

    &-wrap {
      margin-bottom: 88px;
      text-align: right;
    }
  }

  &__items {
    margin: 0 -15px;
  }

  &__item {
    display: block;
    background: #fff;

    &:hover {
      .articles__item-img-wrap::after {
        opacity: 1;
      }
    }

    &-wrap {
      width: 50%;
      padding: 0 15px 30px;
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    &-main {
      padding: 30px 30px 35px;
    }

    &-type,
    &-date {
      opacity: 0.5;

      @extend .fz-12;
      @extend .fw-500;
      @extend .ttu;
    }

    &-heading {
      height: 56px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      color: $accent-color;
      @extend .fz-20;
      @extend .ff-accent;
    }

    &-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;

      &-wrap {
        position: relative;
        padding-top: 200px;

        &::after {
          content: 'перейти в статью';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba(106, 58, 67, 0.53);
          backdrop-filter: blur(16px);
          text-decoration: underline;
          color: #fff;
          opacity: 0;
          @extend .ttu;
          @extend .fz-12;
          @extend .ls-7;
          @extend .lh-150;
          @include transitions;
        }

        &--lg {
          padding-top: 577px;
        }
      }
    }
  }

  @media (max-width: 1199.98px) {
    padding: 100px 0;

    &__heading {
      &-wrap {
        margin-bottom: 60px;
      }
    }

    &__link {
      &-wrap {
        margin-bottom: 60px;
      }
    }

  }

  @media (max-width: 991.98px) {

    &__link {
      margin-bottom: 12px;
    }

    &__items {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      &-wrap {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
      }

      &-heading {
        height: auto;
        -webkit-line-clamp: unset;
      }

      &-img {
        &-wrap {
          padding-top: 200px;
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    padding: 60px 0;

    &__link {
      margin-bottom: 0;
      &-wrap {
        order: 1;
        margin-bottom: 0;
        text-align: center;
      }
    }

    &__heading {
      &-wrap {
        margin-bottom: 42px;
      }
    }

    &__row {
      margin-bottom: 0;
    }
  }

  @media (max-width: 575.98px) {
    &--diary {
      z-index: 3;

      &::before {
        content: '';
        position: absolute;
        top: -40px;
        right: -160px;
        width: 321px;
        height: 458px;
        background: url(../img/articles-diary-bg.png) no-repeat center / 100%;
      }

      .articles__heading-wrap {
        margin-bottom: 36px;
      }
    }

    &__filter {
      margin-bottom: 25px;
    }

    &__bg-text {
      top: 0px;
      left: -74px;
      font-size: 72px;
    }

    &__items {
      flex-wrap: nowrap;
      padding-left: 8px;
      padding-right: 8px;
      margin-bottom: 30px;
      overflow-y: auto;

      &--not-scroll {
        flex-wrap: wrap;

        .articles__item {
          &-main {
            padding-left: 0;
            padding-right: 0;
          }

          &-wrap {
            flex-basis: 100%;
            max-width: 100%;
          }
        }
      }
    }

    &__item {
      &-wrap {
        flex-basis: 262px;
        max-width: 262px;
        padding: 0 8px 15px;
      }

      &-header {
        margin-bottom: 4px;
      }

      &-main {
        padding: 19px 16px 17px;
      }

      &-heading {
        font-size: 15px;
      }

      &-type,
      &-date {
        font-size: 10px;
      }
    }

    &__more-btn {
      width: 100%;
      margin-top: 26px;
    }
  }
}