.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 19px 56px;
  border-radius: 60px;
  background: $dark-rose-color;
  color: #fff;
  @extend .fz-12;
  @extend .fw-500;
  @extend .ls-7;
  @extend .ttu;
  @include transitions;

  &:hover,
  &:focus {
    color: #fff;
    background-color: #6A3A43;
  }

  &[href]:hover,
  &[href]:focus {
    color: #fff;
    background-color: #6A3A43;
  }

  &--white {
    background: #fff;
    border: 1px solid $dark-rose-color;
    color: $dark-rose-color;

    &:hover,
    &:focus {
      color: $dark-rose-color;
      background: rgba($dark-rose-color, 0.1);
    }

    &[href]:hover,
    &[href]:focus {
      color: $dark-rose-color;
      background: rgba($dark-rose-color, 0.1);
    }
  }

  @media (max-width: 575.98px) {
    height: 50px;
  }
}