.link {
  position: relative;
  border-bottom: 1px solid;
  color: $accent-color;
  @include transitions;

  &:hover,
  &:focus {
    color: $dark-rose-color;
  }

  &[href]:hover,
  &[href]:focus {
    color: $dark-rose-color;
  }

  @extend .fz-12;
  @extend .ls-7;
  @extend .lh-150;
  @extend .ttu;

  &--arrow {
    display: inline-block;
    padding-right: 25px;
    padding-bottom: 10px;
    border: none;

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 4px;
      left: 0;
      right: 1px;
      height: 1px;
      background: $accent-color;
      @include transitions;
    }

    &::after {
      right: 0px;
      bottom: 0px;
      width: 6px;
      height: 10px;
      background: url(../img/link-arrow.svg) no-repeat right center / 100%;
      @include transitions;
    }

    &:hover,
    &:focus {
      color: $dark-rose-color;

      &::before {
        background: $dark-rose-color;
      }

      &::after {
        background-image: url(../img/link-arrow-rose.svg);
      }
    }

    &[href]:hover,
    &[href]:focus {
      color: $dark-rose-color;

      &::before {
        right: -7px;
        background: $dark-rose-color;
      }

      &::after {
        right: -8px;
        background-image: url(../img/link-arrow-rose.svg);
      }
    }
  }
}