.menu {
  display: none;

  position: fixed;
  left: 0;
  right: 0;
  top: -200%;
  z-index: 99;
  width: 100%;
  height: 100vh;
  padding-top: 130px;
  padding-bottom: 65px;
  overflow-y: auto;
  background: #fff3f5;
  @include transitions;

  &.active {
    top: 0;
  }

  &__nav-list {
    max-width: 240px;
    margin: 0 auto 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #F1E5E5;
    text-align: center;

    &-item {
      margin-bottom: 25px;

      @extend .fz-11;
      @extend .ls-7;
      @extend .ttu;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__info {
    max-width: 240px;
    margin: 0 auto 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #F1E5E5;
    text-align: center;

    &-tel {
      @extend .fz-15;
      @extend .fw-500;
      @extend .lh-150;
    }

    &-address {
      margin-top: 5px;
      @extend .fz-14;
      @extend .lh-130;
    }
  }

  &__socials {
    &-link {
      display: block;
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }

    &-list {
      display: flex;
      align-items: center;

      &-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 240px;
        margin: 0 auto;
      }

      &-label {
        margin-right: 17px;
        @extend .fz-14;
        @extend .lh-130;
      }

      &-item {
        flex: 0 0 16px;
        max-width: 16px;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  @media (max-width: 991.98px) {

    display: block;

  }
}