.reviews {
  padding-top: 55px;
  padding-bottom: 180px;

  &__scrollbar {
    width: 160px;
    &-wrapper {
      height: 160px;
    }
  }

  &__heading {
    margin-bottom: 167px;
  }

  &__item {
    position: relative;
    padding: 57px 50px 47px;
    border: 1px solid $accent-color;

    &-img {
      position: absolute;
      z-index: 2;
      top: -93px;
      left: -21px;
      width: 267px;
      height: 207px;
    }

    &-header {
      padding-left: 245px;
      margin-bottom: 34px;
    }

    &-name {
      margin-bottom: 5px;
      @extend .ff-accent;
      @extend .fz-24;
      @extend .fw-700;
    }
  }

  @media (max-width: 1199.98px ) {
    padding: 100px 0;
  }

  @media (max-width: 991.98px ) {
    &__heading {
      margin-bottom: 120px;
    }

    &__scrollbar {
      width: 100%;
      &-wrapper {
        height: auto;
      }
    }
  }

  @media (max-width: 767.98px ) {
    padding: 60px 0;

    &__heading {
      margin-bottom: 60px;
    }

    &__item {
      padding: 30px 20px;
      margin-right: 10px;

      &-header {
        padding-left: 0;
        padding-right: 127px;
      }

      &-img {
        width: 127px;
        height: 107px;
        top: -40px;
        right: -17px;
        left: auto;
      }
    }
  }

  @media (max-width: 575.98px ) {
    &__item {
      &-header {
        margin-bottom: 17px;
      }

      &-name {
        font-size: 16px;
      }

      &-post {
        font-size: 12px;
      }

      &-text {
        font-size: 12px;
      }
    }
  }
}