include ../mixins/mixins.pug

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")

    block title
      title Шаблон

    meta(name="viewport", content="width=device-width")

    block seo
      meta(name="description" content="")
      meta(name="keywords", content="")
      meta(name="author" content="")

    //- //- Twitter
    //- meta(name="twitter:card", content="summary")
    //- meta(name="twitter:site", content="")
    //- meta(name="twitter:image", content="")
    //- meta(name="twitter:description", content="")

    //- //- Facebook
    //- meta(property="og:url", content="")
    //- meta(property="og:title", content="")
    //- meta(property="og:description", content="")
    //- meta(property="og:image", content="")
    //- meta(property="og:type", content="website")

    //- //- iOS
    //- meta(name="apple-mobile-web-app-capable", content="yes")
    //- meta(name="apple-mobile-web-app-status-bar-style", content="black")
    //- meta(name="apple-mobile-web-app-title", content="")
    //- link(rel="apple-touch-icon", href="images/favicons/apple-touch-icon.png")

    //- //- Android
    //- meta(name="mobile-web-app-capable", content="yes")
    //- meta(name="theme-color", content="#f8aa27")
    //- link(rel="icon" type="image/png" href="images/favicons/android-chrome-192x192.png" sizes="192x192")

    //- //- Windows
    //- meta(name="msapplication-TileImage", content="images/favicons/mstile-144x144.png")
    //- meta(name="msapplication-TileColor", content="#f8aa27")

    link(rel="icon", href="img/favicon.png")
    link(rel="stylesheet" href="css/main.min.css")


  body

    //- Header
    block header
      include ../blocks/_header.pug

    main.main

      //- Main
      block main

      //- Footer
      block footer
        include ../blocks/_footer.pug

    //- Scripts
    block scripts
      script(src="js/index.min.js")

    block popups

      .popup__overlay(data-popup-close="true" data-popup-overlay)

      .popup__wrap(data-popup="filling" data-popup-close="true")
        .popup.popup--filling
          button.popup__close(data-popup-close="true")

          .popup__slider-parent
            .popup__slider-heading Начинки

            .popup__slider-wrap(data-popup-slider-wrap)
              .swiper-container.popup__slider(data-popup-slider)
                .swiper-wrapper
                  .swiper-slide.popup__slide
                    .popup__slide-img-wrap
                      img.popup__slide-img(src="img/popup__slide-img-1.jpg" alt="Img")
                    .popup__slide-heading Пралине
                    .popup__slide-text Бисквит "Джоконда" на миндальной муке, шоколадное креме с бобами тонка, карамельный крем с маскарпоне, мусс на белом шоколаде с кофейной пастой, подушка из бисквитных сливок, декор из шоколадного ободка
                    button.popup__slide-btn(data-filling-btn="filling" data-filling="Пралине")
                      span.popup__slide-btn-circle
                      span.popup__slide-btn-text выбрать
                  .swiper-slide.popup__slide
                    .popup__slide-img-wrap
                      img.popup__slide-img(src="img/popup__slide-img-2.jpg" alt="Img")
                    .popup__slide-heading Медовая
                    .popup__slide-text Бисквит "Джоконда" на миндальной муке, шоколадное креме с бобами тонка, карамельный крем с маскарпоне, мусс на белом шоколаде с кофейной пастой, подушка из бисквитных сливок, декор из шоколадного ободка
                    button.popup__slide-btn.disabled(data-filling-btn="filling" data-filling="Медовая")
                      span.popup__slide-btn-circle
                      span.popup__slide-btn-text выбрать
                  .swiper-slide.popup__slide
                    .popup__slide-img-wrap
                      img.popup__slide-img(src="img/popup__slide-img-3.jpg" alt="Img")
                    .popup__slide-heading Творожная
                    .popup__slide-text Бисквит "Джоконда" на миндальной муке, шоколадное креме с бобами тонка, карамельный крем с маскарпоне, мусс на белом шоколаде с кофейной пастой, подушка из бисквитных сливок, декор из шоколадного ободка
                    button.popup__slide-btn(data-filling-btn="filling" data-filling="Творожная")
                      span.popup__slide-btn-circle
                      span.popup__slide-btn-text выбрать
                  .swiper-slide.popup__slide
                    .popup__slide-img-wrap
                      img.popup__slide-img(src="img/popup__slide-img-4.jpg" alt="Img")
                    .popup__slide-heading Шоколадная
                    .popup__slide-text Бисквит "Джоконда" на миндальной муке, шоколадное креме с бобами тонка, карамельный крем с маскарпоне, мусс на белом шоколаде с кофейной пастой, подушка из бисквитных сливок, декор из шоколадного ободка
                    button.popup__slide-btn(data-filling-btn="filling" data-filling="Шоколадная")
                      span.popup__slide-btn-circle
                      span.popup__slide-btn-text выбрать

              .popup__slider-controls
                +arrow('button', 'left')(class="arrow--lg products__slider-arrow products__slider-arrow--prev" data-popup-slider-prev="")
                +arrow('button', 'right')(class="arrow--lg products__slider-arrow products__slider-arrow--next" data-popup-slider-next="")
                .popup__slider-scrollbar-wrapper
                  .swiper-scrollbar-wrap.popup__slider-scrollbar-wrap
                    .swiper-scrollbar.popup__slider-scrollbar(data-popup-slider-scrollbar="")

      .popup__wrap(data-popup="cart" data-popup-close="true")
        .popup.popup--cart
          button.popup__close(data-popup-close="true")

          .popup__cart
            .popup__cart-heading Товар добавлен в корзину

            .popup__cart-item
              .cart__item
                img.cart__item-img(src="img/cart__items-img-1.jpg" alt="Img")
                .cart__item-name Торт Мокко
                .cart__item-counter(data-counter="")
                  button.cart__item-counter-btn.cart__item-counter-btn--minus(data-counter-minus="true")
                  input.cart__item-counter-input(readonly="" type="number" data-counter-input="" data-counter-min="1" data-counter-step="1" value="1")
                  button.cart__item-counter-btn.cart__item-counter-btn--plus(data-counter-plus="true")
                .cart__item-price 2 500
                button.cart__item-delete

            .popup__cart-btns
              a.btn.popup__cart-btn Перейти в корзину
              button.btn.btn--white.popup__cart-btn(data-popup-close="true") ПРОДОЛЖИТЬ ПОКУПКИ

      .popup__wrap(data-popup="thanks" data-popup-close="true")
        .popup.popup--thanks
          button.popup__close(data-popup-close="true")

          .popup__heading Руслан, спасибо!
          .popup__subheading
            | Ваш Заказ #[span.fw-700 N 283200825] успешно оформлен.
            br
            | В ближайшее рабочее время с вами свяжется менеджер
            br
            | для уточнения деталей.
          button.btn.popup__btn(data-popup-close="true") Продолжить

      .popup__wrap(data-popup="call" data-popup-close="true")
        .popup.popup--form
          button.popup__close(data-popup-close="true")

          .popup__heading Заказать звонок
          .popup__form
            +input('text', 'Ваше имя')(class="popup__form-input")
            +input('tel', 'Ваш телефон')(class="popup__form-input")
            button.btn.popup__form-btn ОТПРАВИТЬ
            label.calc__checkbox
              input.visually-hidden.calc__checkbox-input(type="checkbox" checked)
              span.calc__checkbox-window
              span.calc__checkbox-label Я согласен с #[a(href="#") условиями использования сервиса], а также с передачей и обработкой моих данных в My recept.

      .popup__wrap(data-popup="click" data-popup-close="true")
        .popup.popup--form
          button.popup__close(data-popup-close="true")

          .popup__heading Заказать в 1 клик
          .popup__form
            +input('text', 'Ваше имя')(class="popup__form-input")
            +input('tel', 'Ваш телефон')(class="popup__form-input")
            button.btn.popup__form-btn Заказать
            label.calc__checkbox
              input.visually-hidden.calc__checkbox-input(type="checkbox" checked)
              span.calc__checkbox-window
              span.calc__checkbox-label Я согласен с #[a(href="#") условиями использования сервиса], а также с передачей и обработкой моих данных в My recept.

      .popup__wrap(data-popup="thanks-1" data-popup-close="true")
        .popup.popup--success
          button.popup__close(data-popup-close="true")

          .popup__success
            img.popup__success-img(src="img/popup__success-img-1.jpg" alt="Img")
            .popup__success-main
              .popup__heading Спасибо! Ваша заявка получена.
              .popup__subheading Наш специалист свяжется с вами в ближайшее время
              button.link.link--arrow(data-popup-close="true") продолжить

      .popup__wrap(data-popup="thanks-2" data-popup-close="true")
        .popup.popup--success
          button.popup__close(data-popup-close="true")

          .popup__success
            img.popup__success-img(src="img/popup__success-img-2.jpg" alt="Img")
            .popup__success-main
              .popup__heading Спасибо за Ваше обращение!
              .popup__subheading В ближайшее время вам постуип письмо на указанный вами адрес электронной почты.
              button.link.link--arrow(data-popup-close="true") продолжить

      .popup__wrap(data-popup="thanks-3" data-popup-close="true")
        .popup.popup--success
          button.popup__close(data-popup-close="true")

          .popup__success
            .popup__success-main
              .popup__heading Ваш заказ #2362 успешно оформлен!
              .popup__subheading Мы перезвоним вам в ближайшее время для  уточнения деталей заказа.
              button.link.link--arrow(data-popup-close="true") продолжить
            img.popup__success-img(src="img/popup__success-img-3.jpg" alt="Img")













































